@charset "utf-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* .noto-sans-<uniquifier> {
    font-family: "Noto Sans", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
 */

body {}

.wrap {
    font-family: 'Pretendard-Regular';
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

.header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.header:hover {
    background-color: white;
}

.header:hover .inner {
    color: black;
}

.header:hover .logo img {
    filter: brightness(0);
}

.header .inner {
    color: #fff;
    max-width: 1732px;
    width: calc(100% - 60px);
    height: 100%;
    background-color: rgba(196, 196, 196, 0.027);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .inner .logo a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .inner .logo {
    width: clamp(130px, 12vw, 200px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: filter 0.3s ease;
}

.header .inner .logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header .inner .menu .nav {
    align-content: center;
}

.inner .nav .gnb {
    display: flex;
    gap: 40px;
}

.inner .nav .gnb li {
    font-size: 16px;
    font-weight: 100;
    position: relative;
    transition: 0.4s;
    white-space: nowrap;
}

.inner .nav .gnb li:hover::after {
    content: '';
    width: 5px;
    height: 5px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);

}

.inner .nav .gnb li:nth-child(6) {
    text-decoration-line: underline;
    text-underline-position: under;
}


.inner .util {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;

}

.inner .util a {
    display: block;
    width: clamp(25px, 8vw, 35px);
}

.inner .util a img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.header:hover .util img {
    filter: brightness(0);
}


.header .nav_box .box_wrap {
    background-color: aliceblue;
    display: flex;
    gap: 30px;
}

.header .nav_box .box_wrap .box {
    background-color: #5915d6;
}


.main_visual {
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: black;
}

.main_visual .visual_Swiper {
    height: 100%;
}

.main_visual .visual_Swiper .swiper-wrapper {
    height: 100%;
}

.main_visual .visual_Swiper .swiper-wrapper .swiper-slide {
    height: 100%;
    width: 100%;

}

.main_visual .swiper-wrapper .swiper-slide img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}

.main_visual .swiper-slide .button {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;


}

.main_visual .swiper-slide .button a {
    font-size: 16px;
    width: 100%;
    height: 100%;
    padding: 20px 40px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.514);
    color: #eee;
    border-radius: 10px;

}

.main_visual .swiper-slide .text {
    position: absolute;
    color: white;
    bottom: 18%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    padding: 30px;

}

.main_visual .swiper-slide .text h2 {
    font-size: clamp(24px, 3vw, 48px);
    /* white-space: nowrap; */
}

.main_visual .swiper-slide .text p {
    font-size: clamp(15px, 3vw, 24px);
    margin-top: 15px;
    word-break: keep-all;
}

/* section-01 */

.main .section-01 {
    background-color: #111;
    padding: 100px 0;
    width: 100%;

}


.main .section-01 h2 {
    width: 100%;
    font-family: "Noto Sans", serif;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
}


.main .section-01 .item_wrap {
    max-width: 1732px;
    width: calc(100% - 60px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 30px;

}

.section-01 .item_wrap .box {
    width: 32%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.section-01 .item_wrap .box .item {
    width: 100%;
    height: 100%;
    position: relative;
}

.section-01 .item_wrap .box .item:hover .text {
    opacity: 1;
    visibility: visible;
}

.section-01 .item_wrap .box .item .image_box {
    width: 100%;
    height: 100%;
}

.section-01 .item_wrap .box .item .image_box img {
    width: 100%;
    height: 100%;
    opacity: 0.7;
}

.section-01 .item_wrap .box .item .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 clamp(15px, 5vw, 50px);
    gap: 20px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    background-color: #33333321;
}

.section-01 .item_wrap .box .item .text strong {
    font-family: "Noto Sans", serif;
    font-weight: bold;
    font-size: clamp(24px, 2.5vw, 32px);
    text-align: center;

}

.section-01 .item_wrap .box .item .text p {
    font-size: clamp(18px, 2vw, 16px);
    letter-spacing: 0.7px;
    line-height: 1.4;
    word-break: keep-all;
    text-align: center;
}






/* section-02 */

.main .section-02 {
    padding-bottom: 100px;
    background-color: #111;
}

.main .section-02 .box {
    width: 100%;
    height: auto;
    position: relative;
}

.main .section-02 .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main .section-02 .box p {
    background-color: rgba(0, 0, 0, 0.493);
    color: #ddd;
    font-size: 14px;
    display: inline-block;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 50px;
    border-radius: 10px;
}

/* section-03 */

.main .section-03 {
    width: 100%;
    padding-bottom: 30px;
    background-color: #111;
}

.main .section-03 h2 {
    width: 100%;
    font-family: "Noto Sans", serif;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
}

.main .section-03 .mySwiper {
    width: 100%;
    padding: 0 94px;
    z-index: 0;
}

.main .section-03 .mySwiper .swiper-wrapper {
    width: 100%;
    margin: 0 auto;
}

.main .section-03 .mySwiper .swiper-wrapper .swiper-slide {
    width: 388px;
    position: relative;
}

.main .section-03 .mySwiper .swiper-wrapper .swiper-slide img {
    width: 100%;
    height: 420px;
    object-fit: cover;
}

.main .section-03 .mySwiper .swiper-wrapper .swiper-slide p {
    text-align: center;
    align-content: center;
    font-family: "Noto Sans", serif;
    font-weight: bold;
    font-size: 24px;
    color: #eee;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000042;
}

/* section-04 */

.main .section-04 {
    padding: 100px 0;
    background-color: #fff;
}

.main .section-04 h2 {
    width: 100%;
    font-family: "Noto Sans", serif;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    color: white;
}

.main .section-04 h5 {
    font-size: 12px;
    text-align: end;
    margin-right: 215px;
    color: #ddd;
}


.main .section-04 .swiper-slide {
    margin: 30px 0;
    display: flex;


}

.main .section-04 .news_wrap {
    margin: 0 auto;
    max-height: 400px;
    width: 1440px;
    display: flex;
    justify-content: space-between;

}

.main .section-04 .news_wrap .image {
    width: 49%;
    box-shadow: 0px 2px 20px rgba(85, 85, 85, 0.733);
    ;

}

.main .section-04 .news_wrap .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.main .section-04 .news_wrap .text {
    width: 49%;
    height: auto;
    box-shadow: 0px 2px 20px rgba(85, 85, 85, 0.733);
    text-align: start;
    padding: 50px 50px;
    row-gap: 30px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    overflow: hidden;
    background-color: white;
}


.main .section-04 .news_wrap .text strong {
    display: block;
    font-size: clamp(16px, 2vw, 28px);
}



.main .section-04 .news_wrap .text p {
    color: #555;
    font-size: clamp(8px, 2vw, 16px);
    display: block;
    line-height: 25.6px;
}



.main .section-04 .news_wrap .text a {
    font-weight: 400;
    font-size: clamp(8px, 2vw, 14px);
    background-color: rgba(255, 255, 255, 0.562);
    padding: 10px 20px;
    border-radius: 10px;
    color: #333;
    border: 1px solid #aaa;
}

.main .section-04 .news_wrap .text a:hover {
    background-color: #111;
    color: #fff;
}

/* footer  */

.footer {
    color: white;
    background-color: #000;
}

.footer .box_wrap {
    text-align: center;
    padding: 30px 0;
    margin: 0 auto;
}

.footer .box_wrap .box {
    display: flex;
    justify-content: center;
    font-size: clamp(8px, 2vw, 12px);
    column-gap: 100px;
    margin-bottom: 30px;
}

.footer .box_wrap .box .box_inner {}

.footer .box_wrap .box .box_inner h3 {
    text-decoration-line: underline;
    text-underline-position: under;
    margin-bottom: 30px;
}

.footer .box_wrap .box .box_inner .text {}

.footer .box_wrap .box .box_inner .text li {
    margin-bottom: 15px;
}

.footer .box_wrap .logo {
    width: 400px;
    margin: 0 auto;
}

.footer .box_wrap .logo img {
    width: 100%;
    height: 75px;
    object-fit: cover;
}

.footer .box_wrap .info {
    font-size: clamp(8px, 2vw, 12px);
    color: #aaa;
}

.footer .box_wrap .info .text {
    margin-bottom: 30px;
}

.footer .box_wrap .info .text li {
    margin-bottom: 12px;
}

.footer .box_wrap .icon_box .icon {
    display: flex;
    justify-content: center;
    gap: 58px;
    margin-bottom: 30px;
}

.footer .box_wrap .icon_box .icon li {}

.footer .box_wrap .icon_box img {}

.footer .box_wrap .icon_box .icon li img {
    width: 28px;
    object-fit: cover;
}


@media screen and (max-width: 1080px) {
    .header .inner .nav {
        display: none;
    }

    .header .inner .util li {
        display: none;

    }

    .header .inner .util li:nth-child(4) {
        display: block;
    }

    .main .main_visual .swiper-wrapper .swiper-slide img {
        opacity: 0.7;
    }


    .section-01 .item_wrap .box {
        width: 100%;
    }


    .section-01 .item_wrap .item_box01 a {
        height: 321.5px;
    }

    .section-01 .item_wrap .item_box02 a {
        height: 321.5px;
    }

    .section-01 .item_wrap .box .item .text {
        padding: 0 20px;
        text-align: center;
    }


    .main .section-01 .item_wrap {
        flex-wrap: wrap;
    }

    .section-01 .item_wrap .item_box01 {
        width: 48%;
    }

    .section-01 .item_wrap .item_box02 {
        width: 48%;
    }

    .section-01 .item_wrap .item_box03 {
        width: 100%;
    }

}

@media screen and (max-width: 824px) {

    .section-01 .item_wrap .item_box01 {
        width: 100%;
    }

    .section-01 .item_wrap .item_box02 {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .section-01 .item_wrap .box a {
        height: 500px;
    }

    .section-01 .item_wrap .item_box01 {
        width: 100%;
    }

    .section-01 .item_wrap .item_box02 {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {}